<div class="container">
  <div class="col-12 mt-3">

    <nav aria-label="breadcrumb">
      <h2 class="text-center mt-4">EDITOR DE TAREFAS</h2>
    </nav>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary mb-2" type="button" (click)="novaTarefa(true)">Nova tarefa</button>
    </div>

    <table class="table table-hover table-bordered"
           aria-describedby="Tarefas"
           id="tableTarefa"
           #tableTarefa
           *ngIf="tarefas.length">
      <thead>
      <tr>

        <th scope="col">ID</th>
        <th scope="col">Tarefa</th>
        <th scope="col">Custo</th>
        <th scope="col">Data limite</th>
      </tr>
      </thead>
      <tbody cdkDropList (cdkDropListDropped)="moverLinha($event)">
      <tr *ngFor="let t of tarefas" [class]=" t.custo> 1000 ? 'table-primary': '' " cdkDrag cdkDragLockAxis="y">
        <td cdkDragHandle >{{ t.id }}</td>
        <td>{{ t.nomeTarefa}}</td>
        <td>{{ t.custo | currency: 'BRL' }}</td>
        <td>{{ t.dataLimite | date: 'dd/MM/YYYY' }}</td>
        <td>
          <div class="row justify-content-center">

            <button class="btn btn-primary bi-pencil me-2 col-2"
                    (click)="mostrarTarefa(t)">
            </button>

            <button type="button"
                    class="bi-trash btn btn-danger col-2"
                    (click)="confirmar(t)">
            </button>
          </div>
        </td>
        <div *cdkDragPreview  class="container">
          {{ t.nomeTarefa | titlecase }}
        </div>
      </tr>
      </tbody>
    </table>

  </div>
  <p-dialog header="Nova tarefa" [(visible)]="visible" position="center" [style]="{ width: '40vw' }" styleClass=" pt-4">
    <div class="grid justify-content-center">
      <div class="md:col-6 sm:col-12">
        <form class=" flex align-items-center" #f="ngForm" (ngSubmit)="salvar(f)">

          <div class="row">
            <span class="p-float-label mt-4 sm:col-12 md:col-6 col-12">
                  <input
                    type="text"
                    pInputText
                    placeholder="Descrição da tarefa"
                    id="nomeTarefa"
                    name="nomeTarefa"
                    [(ngModel)]="tarefa.nomeTarefa"
                    class="col-12"
                    maxlength="50"/>
                  <label>Descrição</label>
            </span>
          </div>
          <div class="row">
            <span class="p-float-label mt-4 sm:col-6 md:col-6 col-6">
            <input
              pInputText
              prefix="R$ "
              mask="separator.2"
              decimalMarker=","
              thousandSeparator="."
              placeholder="0,00"
              [(ngModel)]="tarefa.custo"
              name="custo"
              class="col-12"/>
            <label>Custo</label>
          </span>
            <span class="p-float-label mt-4 sm:col-6 md:col-6 col-6">
                   <p-inputMask [(ngModel)]="tarefa.dataLimite"
                                pTooltip="Data Limite"
                                mask="99/99/9999"
                                styleClass="col-12"
                                name="dataLimite"/>
                    <label>Data Emissão</label>
          </span>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
            <button class="btn btn-secondary mb-2" type="button" (click)="novaTarefa(false)">Cancelar</button>
            <button class="btn btn-primary mb-2" type="submit">Salvar</button>
          </div>

        </form>
      </div>
    </div>
  </p-dialog>
  <!--  ======================================= modal excluir ===================================-->

  <p-toast></p-toast>
  <p-confirmDialog #cd styleClass="col-4">
    <ng-template pTemplate="header">
      <h3>Confirmar remoção</h3>
    </ng-template>
    <ng-template pTemplate="icon">
      <i class="pi pi-user"></i>
    </ng-template>
    <ng-template pTemplate="message">
      <p>Deseja remover a {{tarefa.nomeTarefa}}?</p>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="bi-times btn btn-secondary" (click)="cd.reject()">Não</button>
        <button type="button" class="pi-check btn btn-danger" (click)="cd.accept()">Sim</button>
      </div>
    </ng-template>
  </p-confirmDialog>
</div>
